<html>
  <head>
    <link rel='icon' href='img/favicon/favicon.ico' />
    <title>MCU-FAN</title>
    <meta charset='utf-8' />
    <link rel='stylesheet' type='text/css' href='css/menu.css' />
    <link rel='stylesheet' type='text/css' href='css/layout.css' />
    <link rel='stylesheet' type='text/css' href='css/acteurs_layout.css' />
  </head>
  <body>
    <nav id='fondmenu'>
      <a href='stones.html'><img id='logo' src='img/logo/marvel_logo.png' height='50'
        /></a>
      <ul id='menu'>
        <li><a href='index.html#MCU'>MCU</a></li>
        <li><a href='index.html#films'>Films</a></li>
        <li><a href='temoignage.html'>Témoignage</a></li>
        <li><a href='actors.html'>Acteurs</a></li>
        <li><a href='contact.html'>Contact</a></li>
        <li><a href='/'>Retour</a></li>
      </ul>
    </nav>

    <nav class='menuSelect'>
      <ul>{{#each actors }}
        <li><a href='#{{id}}'>{{categorie}}</a></li>{{/each}}
      </ul>
    </nav>

      {{#each actors }}
      <section id='films'>{{#if @first}}
        <h1>Les Acteurs du MCU</h1>{{/if}}
        {{#each acteurs}}
          <br />
          <div class='film'>{{#unless @index}}
            <h2 id="{{../id}}">{{../categorie}}</h2>{{/unless}}
            <img class='affiche' src={{this.image}} width='auto' height='auto' />
            <h3>{{name}} {{personnage}}</h3>
            <p class='text'>
            {{#each lignes}}<br />{{this}}<br />{{/each}}
            </p>
          </div>
        {{/each}}
      <div class='film'></div>
    </section>
      {{/each}}
  </body>
</html>