<!DOCTYPE html>
<html lang="fr">
    <head>
{{loadpartial '../partials/head.html' 'head'}}{{> head}}
        {{#each index.head}}
        {{{this}}}
        {{/each}}
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <div class="mdl-layout__header mdl-layout__header--waterfall">
{{loadpartial '../partials/header.html' 'header'}}{{> header}}
            </div>

{{loadpartial '../partials/navbar.html' 'navbar'}}{{> navbar}}
            <div class="mdl-layout__content">
                <div class="demo-blog__posts mdl-grid" id="top">
{{#each index.cards}}
                    <div class="mdl-card {{this.name}} mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__media"></div>
                        <div class="mdl-cell mdl-cell--12-col">
                            <h3>
                                <a href="{{this.href}}">
                                    <img alt="Preview site {{this.name}}" src="{{this.img}}">{{this.titre}}
                                </a>
                            </h3>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <div class="mdl-cell mdl-cell--12-col"><b>{{this.description}}</b>({{this.date}})</div>
                            <div class="mdl-cell mdl-cell--12-col">Site en {{this.techno}}.</div>
                        </div>
                        <div class="mdl-typography--text-right mdl-cell mdl-cell--12-col">
                            <a href="{{this.site_link}}"> 
                                <button class="button_card" style="color: {{this.color}};">Voir le site</button>
                            </a>
                            <a href="{{this.a_propos_link}}">
                                <button class="button_card" style="color: {{this.color}};">A propos</button>
                            </a>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col">&nbsp;</div>
                    </div>
                {{/each}}
                </div>
{{loadpartial '../partials/footer.html' 'footer'}}{{> footer}}
            </div>
        </div>
    </body>
</html>